.dropdown-container {
  position: relative;
  display: inline-block;
}
.header-bot .menu ul .dropdown-menu {
  gap: 0px;
}
.dropdown-menu {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: red;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 8px 16px;
  cursor: pointer;
  color: black;
  position: relative; /* Important for submenu positioning */
}

.dropdown-menu li:hover {
  background-color: #ddd;
}
.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dropdown-menu li:hover .submenu {
  display: block; /* Show the submenu when hovering over the parent item */
}
