.dropdown-container {
  position: relative;
  display: inline-block;
}
.header-right .menu ul .dropdown-menu {
  gap: 0px;
}
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  padding: 8px 16px;
  cursor: pointer;
  color: black;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}
