/* Style for the input (checkbox) */
.option-label input[type="checkbox"]:checked + .color-box {
  border: 3px solid rgb(255, 255, 255); /* Apply black border when checked */
}

.option-label .color-box {
  border: 3px solid rgb(132, 132, 132);
}
/*
.attribute-group {
  display: flex;
  flex-flow: wrap;
}
*/
