/* From Uiverse.io by sofiapetushok */
ul {
  list-style: none;
  padding: 0;
}
.card {
  width: 300px;
  height: 500px;
  background: #1b1b1b;
  position: relative;
  border-radius: 12px;
  box-shadow: 0px 10px 10px 0 #1b1b1b;
  margin-bottom: 50px;
}
.card .card-image {
  position: relative;
  height: 75%;
  width: 90%;
  display: block;
  margin: auto;
  color: #c8c8c8;
  filter: drop-shadow(0 0 5px #111111);
  object-fit: cover;
}

.card .card-info {
  height: 100%;
  border-radius: 12px 12px 0 0;
  width: 100%;
  color: #fff;
  display: flex;
  background: linear-gradient(#4f4f4f64, transparent);
}
.card .card-info {
  max-height: 120px;
}

.card .card-info .left-info,
.card .card-info .right-info {
  flex: 1;
  padding: 16px;
}
.card .card-info .left-info .product-title {
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.4px;
  font-weight: bold;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}
.left-info .price-tag .new-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 0.3px;
  line-height: 0.9;
  color: #e96dff;
  font-weight: bold;
  text-transform: uppercase;
}
/*
.card .card-info p {
  font-size: 16px;
  margin-top: 12px;
  line-height: 1.2;
  letter-spacing: 0.3px;
  font-weight: normal;
}
*/
.card .card-info .left-info .star-rating {
  display: flex;
  margin-top: 20px;
}
.card .card-info .left-info .star-rating span {
  display: block;
  width: 16px;
  color: rgb(242, 99, 255);
}
.card .card-info .right-info {
  margin: 0;
  position: relative;
}
.card .card-info .right-info::before {
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - 20px);
  background: #df29ff;
  left: -5px;
}

.card .card-info .right-info ul {
  margin: 0;
  list-style: none;
}
.card .card-info .right-info ul li {
  padding: 0;
  font-size: 10px;
  margin: 10px 0;
}
.card .card-info .right-info ul li:first-child {
  margin-top: 0;
}
.card .card-info .right-info ul li p.feature-sub-title {
  font-size: 8px;
  margin-bottom: 5px;
  letter-spacing: 0.3px;
  line-height: 0.9;
  color: #e96dff;
  font-weight: bold;
  text-transform: uppercase;
}
.card .card-info .right-info ul li .feature-sub-title:first-child {
  margin-top: 0;
}
.add-to-cart-btn {
  display: flex;
  position: absolute;
  bottom: 10px;
  margin-top: 20px;
  width: 100%;
  flex: 1;
  flex-basis: 200px;
  margin: auto;
  justify-content: center;
}
.add-to-cart-btn button {
  border: none;
  font-size: 16px;
  background: linear-gradient(
    45deg,
    transparent,
    #f532f1 40%,
    #f532f1,
    #a141fb 60%,
    transparent
  );
  padding: 9px 27px;
  color: #fff;
  font-weight: bold;
  background-size: 200%;
  background-position: 0% 0%;
  text-transform: uppercase;
  border-radius: 30px;
  transition: 0.4s ease-in-out;
}

.card .card-price-tag {
  position: absolute;
  right: 12px;
  top: 0;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 13px 40px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#ff293b, #911937);
}

/*
.card::before {
  position: absolute;
  content: "";
  height: 90px;
  width: 90px;
  border-radius: 50%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 46, 255);
  filter: blur(25px);
  box-shadow: 0 0 70px 0 #f51cf1;
}*/

.card .add-to-cart-btn button:hover {
  background-position: 100% 100%;
}

.price-tag-div {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.price-tag-div p {
  display: flex;
}

.price-tag .price-tag-div .old-price {
  color: rgb(114, 114, 114);
  text-decoration: line-through;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 0.3px;
  line-height: 0.9;
  font-weight: bold;
  text-transform: uppercase;
}

.left-info .price-tag .new-price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: 0.3px;
  line-height: 0.9;
  color: #e96dff;
  font-weight: bold;
  text-transform: uppercase;
}
.card-info .att-name {
  font-size: 0.5em;
  justify-content: space-between;
}
@media (max-width: 620px) {
  .add-to-cart-btn button {
    font-size: 0.8rem;
    padding: 6px 18px;
  }
  .card .card-info .left-info .product-title {
    font-size: 0.8rem;
  }

  .left-info .price-tag .price-tag-div .new-price,
  .left-info .price-tag .price-tag-div .old-price {
    font-size: 0.7rem;
  }

  .card {
    width: 180px;
    height: 300px;
    margin-bottom: 20px;
  }

  .card .card-info {
    max-height: 50px;
  }
  .card .card-price-tag {
    font-size: 0.6rem;
    padding: 9px 18px;
  }
}
