.header-top {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  box-shadow: 0px 3px 2px -2px hsla(0, 6%, 43%, 0.979);
}
.header-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-left .burg-menu {
  display: none;
}
.header-mid .logo img {
  height: 50px;
}

.header-container .header-bot {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
}

.header-bot {
  width: 100%;
}
.header-bot .menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-bot .menu ul {
  list-style: none;
  display: flex;
  gap: 28px;
  font-weight: 700;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-bot .menu ul li {
  cursor: pointer;
}

.header-bot .menu hr {
  background-color: brown;
  border: none;
  height: 3px;
}

.header-right .cart {
  margin-left: 10px;
}
.cart {
  padding-right: 20px;
}
.cart img {
  height: 24px;
}

/* Overlay menu styles */
.burger-style {
  position: fixed;
  top: 0;
  left: -100%; /* Hidden by default */
  height: 100vh;
  width: 60vw; /* Adjust width as needed */
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: left 0.3s ease-in-out; /* Slide in from the left */
}

.burger-style.show {
  left: 0; /* Slide into view */
}

/* Hide the burger menu for larger screens */
@media (min-width: 768px) {
  .burger-style {
    display: none;
  }
}

.burger-style li {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .header-left ul {
    color: black;
  }
}
.close-menu-btn {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 15px;
  align-self: flex-end;
  color: black;
}
.cart-num {
  background-color: red;
  text-align: center;
  align-content: center;
  height: 24px;
  width: 24px;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .header-container .header-top {
    align-items: center;
  }
  .header-container .header-bot {
    display: none;
  }

  .search-bar {
    display: none;
  }
  .header-left .burg-menu {
    display: block;
  }
}
