.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 14px;
}
.skeleton-image {
  height: 375px;
  width: 300px;
}
@media (max-width: 620px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .product-container {
    flex-direction: column;
  }
  .skeleton-image {
    height: 225px;
    width: 162px;
  }
}

@media (min-width: 620px) and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) and (max-width: 1366px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1366px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.car-slide {
  cursor: pointer;
  outline: none;
  user-select: none; /* Disable selection */
  -webkit-user-drag: none; /* Disable dragging in WebKit browsers */
}

.car-slide img {
  display: none;
}
.carousel.carousel-slider {
  box-shadow: 0px 3px 2px -2px hsla(0, 6%, 43%, 0.979);
}
.carousel .slider-wrapper {
  height: 20vh;
}
.carousel .slider-wrapper.axis-horizontal .slider,
.carousel .slide img {
  height: 100%;
}
.product-container {
  display: flex;
}
