.newhome-container {
  margin-top: 24px;
  display: flex;
  overflow-x: auto;
}

.list-container {
  padding-left: 20px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.cat-img {
  height: 60px;
  width: 60px;
  border: 5px solid rgb(255, 0, 208);
  border-radius: 50%;
  padding: 4px;
  -webkit-user-drag: none; /* Chrome, Safari, and Opera */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* Internet Explorer/Edge */
}
.list-container .selected {
  border: 8px solid rgb(14, 127, 188);
}
