.footer-container {
  margin-top: 40px;
  background-color: black;
}
.footer-desc {
  padding: 30px 0px;
  display: flex;
  justify-content: space-around;
}
.footer-container hr {
  width: 70%;
}
.copy-rights {
  display: flex;
  justify-content: center;
}
