.swip-img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.car-skeleton {
  height: 400px;
  width: 300px;
}
@media (max-width: 630px) {
  .swip-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .car-skeleton {
    height: 200px;
    width: 188px;
  }
}
.swiper-pagination {
  margin-top: 1rem;
  position: relative;
}
